body {
  background-color:lightblue;
  font-family: "Perpetua", "Times New Roman", serif;
  
  display: flex;
  flex-direction: row;
  justify-content: center; /* aligns text to the left */
  align-items: center;     /* aligns to top */
  height: 100vh;               /* fills the full screen height */
  gap: 20vh;
  flex-wrap: wrap;  /* allows the buttons to go below if there's not enough space */
}

.buttons {
  display: flex;
  flex-direction: column; /* stacks children vertically */
  gap: 1rem;              /* space between buttons */
  width: 50vw;
  align-items: stretch; 
  
  background-color:lightgreen;
  font-family: "Perpetua", "Times New Roman", serif;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 10vh;
}

h1 {
  font-size: 4vw;
}

p {
  font-size: 2vw;
}
